fastapi
uvicorn
langgraph
python-dotenv
requests
groq
pdfplumber
camelot-py[cv]
pytesseract
pdf2image
Pillow
numpy
opencv-python
ezdxf
manim
python-multipart
pandas
joblib
scikit-learn
jinja2
reportlab
openpyxl
lxml
kagglehub
